<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
    <link rel='stylesheet' href='/libs/animate.css/animate.min.css'>
    <link rel='stylesheet' href='/libs/font-awesome/css/font-awesome.min.css'>
    <link rel='stylesheet' href='/stylesheets/app.css'>
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
  </head>
  <body>

    <a href="#" class="animated fadeInUp show-more"><i class="fa fa-user-circle"></i></a>
    <section class="inner-wrap">
      <div id="particles-js"></div>
      <header>
        <h1 class="animated fadeInLeft">Andrew Brice</h1>
        <h2 class="animated fadeInRight"><span data-hover="Designer">UX Developer</span></h2>
      </header>

      <ul class="animated fadeInUp">
          <li><a href="https://www.linkedin.com/in/briceandrew" data-hover="Resumé"><i class="fa fa-linkedin-square"></i></a></li>
          <li><a href="https://github.com/bricea27" data-hover="Code"><i class="fa fa-github-square"></i></a></li>
          <li><a href="https://www.behance.net/andrewbrice" data-hover="Design"><i class="fa fa-behance-square"></i></a></li>
      </ul>
    </section>
    <!-- <footer><a href="#" class="get-resume">View Resumé</a></footer> -->

    <section class="bio" style="display:none;">
      <p>
        <img src="/images/headshot.png"/>
        Hi there, I'm <a href="https://www.linkedin.com/in/briceandrew">Andrew Brice</a>. I'm a UX Developer with a background in Graphic Design, currently building dynamic user interfaces for the wonderful folks at <a href="https://sharpencx.com">Sharpen</a>. When I'm not submerged in code, you'll likely find me hiking, playing basketball, or sitting by a campfire with a book and a bourbon.</p>
      <a href="mailto:bricea27@gmail.com" class="get-in-touch"><span data-hover="I Don't Bite!"><i class="fa fa-envelope"></i>Let's Chat!</span></a>
    </section>

    <script src="/javascripts/main.js"></script>
  </body>
</html>
