/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%;
  font-size: 16px;
  background: #222; }

body {
  font-family: 'Rubik', 'Open Sans', "Helvetica", sans-serif;
  transition: all 0.5s ease; }

.show-more {
  position: fixed;
  top: 2rem;
  right: 2rem;
  font-size: -webkit-calc(16px + 1vw);
  font-size: -moz-calc(16px + 1vw);
  font-size: calc(16px + 1vw);
  z-index: 9999;
  transition: all 0.2s ease;
  /*&:hover i.fa-times {
    color: #444;
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    transform: scale(1.25);
    transition: all 0.2s ease;
  }*/ }
  .show-more i {
    color: #999;
    transition: all 0.2s ease; }
  .show-more i.fa-times {
    color: #999; }
  .show-more:hover i.fa-times {
    color: #666;
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: all 0.2s ease; }
  .show-more:hover i {
    color: white;
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
    transition: all 0.2s ease; }

.inner-wrap {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .inner-wrap.transformed {
    opacity: 0.25;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    transition: all 0.5s ease; }
  .inner-wrap #particles-js {
    position: absolute;
    width: 100%;
    height: 100%; }
    .inner-wrap #particles-js:hover {
      cursor: pointer; }
  .inner-wrap header {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    transition: all 0.2s ease; }
    .inner-wrap header #logo {
      width: 30%;
      min-width: 60px;
      max-width: 160px;
      fill: white;
      margin: 0 0 2rem 0; }
    .inner-wrap header h1, .inner-wrap header h2 {
      margin: 0 auto; }
    .inner-wrap header h1 {
      color: #ededed;
      font-weight: 900;
      text-transform: uppercase;
      font-size: -webkit-calc(16px + 3vw);
      font-size: -moz-calc(16px + 3vw);
      font-size: calc(16px + 3vw);
      margin-bottom: 0.5rem; }
    .inner-wrap header h2 {
      color: #666;
      font-weight: 700;
      font-size: -webkit-calc(16px + 1.25vw);
      font-size: -moz-calc(16px + 1.25vw);
      font-size: calc(16px + 1.25vw);
      overflow: hidden;
      position: relative;
      display: block;
      line-height: 1.4em;
      text-transform: uppercase; }
      .inner-wrap header h2 span {
        position: relative;
        display: inline-block;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: all 0.2s ease; }
      .inner-wrap header h2 span::before {
        position: absolute;
        top: 120%;
        width: 100%;
        text-align: center;
        content: attr(data-hover);
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
      .inner-wrap header h2:hover span {
        transform: translateY(-120%);
        transition: all 0.2s ease; }

footer {
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease; }
  footer a {
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: block;
    color: #666;
    text-align: center;
    line-height: 60px;
    font-weight: 700;
    font-size: 1rem;
    transition: all 0.2s ease; }

ul {
  width: 80%;
  min-width: 300px;
  max-width: 600px;
  list-style: none;
  padding-left: 0;
  margin: 0 0 2rem 0; }
  ul li {
    float: left;
    width: 25%;
    text-align: center;
    overflow: hidden;
    position: relative;
    display: inline-block;
    line-height: 1.4em;
    font-size: -webkit-calc(16px + 0.5vw);
    font-size: -moz-calc(16px + 0.5vw);
    font-size: calc(16px + 0.5vw);
    transition: all 0.2s ease; }
    ul li a {
      width: 100%;
      color: #999;
      position: relative;
      display: inline-block;
      text-decoration: none;
      -webkit-transition: -webkit-transform 0.3s;
      -moz-transition: -moz-transform 0.3s;
      transition: all 0.2s ease; }
    ul li a::before {
      position: absolute;
      top: 120%;
      left: 0;
      width: 100%;
      text-align: center;
      content: attr(data-hover);
      font-weight: 700;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    ul li:hover a {
      color: white;
      transform: translateY(-120%);
      transition: all 0.2s ease; }
    ul li .fa {
      font-size: -webkit-calc(16px + 1vw);
      font-size: -moz-calc(16px + 1vw);
      font-size: calc(16px + 1vw); }

.bio {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #222;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 0;
  font-size: -webkit-calc(16px + 1.5vw);
  font-size: -moz-calc(16px + 1.5vw);
  font-size: calc(16px + 1.5vw);
  line-height: 1.4em;
  text-align: center;
  z-index: 99; }
  .bio .about-me {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .bio .about-me img {
      display: block;
      max-width: 200px;
      margin: 0 auto;
      margin-bottom: 2rem;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%; }
    .bio .about-me p {
      width: 80%;
      max-width: 1200px;
      text-align: center;
      font-size: -webkit-calc(16px + 1vw);
      font-size: -moz-calc(16px + 1vw);
      font-size: calc(16px + 1vw);
      font-weight: 300;
      color: #ededed;
      margin: 0 auto;
      transition: all 0.2s ease; }
    .bio .about-me .fa-chevron-down {
      position: absolute;
      bottom: 2rem;
      color: rgba(255, 255, 255, 0.25); }
  .bio .projects .project {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #ededed;
    padding: 6rem 4rem; }
    .bio .projects .project .project-image {
      transition: all 0.2s ease; }
      .bio .projects .project .project-image:hover {
        opacity: 0.8;
        transition: all 0.2s ease; }
    .bio .projects .project img {
      border-radius: 6px; }
    .bio .projects .project:nth-child(even) {
      flex-direction: row-reverse; }
    .bio .projects .project .description {
      width: 60%;
      text-align: left; }
      .bio .projects .project .description h3 {
        text-transform: uppercase;
        font-size: -webkit-calc(16px + 1vw);
        font-size: -moz-calc(16px + 1vw);
        font-size: calc(16px + 1vw);
        font-weight: 700;
        color: #666; }
      .bio .projects .project .description p {
        color: rgba(0, 0, 0, 0.5);
        font-size: -webkit-calc(16px + 0.5vw);
        font-size: -moz-calc(16px + 0.5vw);
        font-size: calc(16px + 0.5vw);
        margin-bottom: 1rem; }
        .bio .projects .project .description p a {
          color: rgba(0, 0, 0, 0.5); }
          .bio .projects .project .description p a:hover {
            color: rgba(0, 0, 0, 0.25); }
      .bio .projects .project .description .project-link {
        text-transform: uppercase;
        background: rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.25);
        font-size: -webkit-calc(16px + 0.5vw);
        font-size: -moz-calc(16px + 0.5vw);
        font-size: calc(16px + 0.5vw);
        border-radius: 6px;
        padding: 0.5rem 2rem;
        transition: all 0.2s ease; }
        .bio .projects .project .description .project-link:hover {
          background: rgba(0, 0, 0, 0.2);
          transition: all 0.2s ease; }
        .bio .projects .project .description .project-link .fa {
          margin-right: 0.5rem; }
  .bio a {
    color: #ededed;
    text-decoration: none;
    font-weight: 700;
    transition: all 0.2s ease; }
    .bio a.get-in-touch {
      text-align: center;
      position: fixed;
      left: 50%;
      bottom: 1rem;
      transform: translate(-50%, -50%);
      font-size: -webkit-calc(16px + 0.5vw);
      font-size: -moz-calc(16px + 0.5vw);
      font-size: calc(16px + 0.5vw);
      overflow: hidden;
      display: block;
      line-height: 1.4em;
      transition: all 0.2s ease; }
      .bio a.get-in-touch span {
        width: 100%;
        color: #666;
        position: relative;
        display: inline-block;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: all 0.2s ease; }
        .bio a.get-in-touch span .fa {
          margin-right: 6px; }
      .bio a.get-in-touch span::before {
        position: absolute;
        top: 120%;
        left: 0;
        width: 100%;
        text-align: center;
        content: attr(data-hover);
        font-weight: 700;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
      .bio a.get-in-touch:hover span {
        color: white;
        transform: translateY(-120%);
        transition: all 0.2s ease; }
  .bio a:hover, .bio a:focus {
    text-decoration: none;
    cursor: pointer;
    color: #444;
    transition: all 0.2s ease; }
  .bio .get-in-touch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem; }
    .bio .get-in-touch p {
      width: 80%;
      max-width: 800;
      color: rgba(255, 255, 255, 0.25);
      text-align: left; }
    .bio .get-in-touch a {
      position: relative; }
      .bio .get-in-touch a span {
        width: 100%;
        color: #666;
        position: relative;
        display: inline-block;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        transition: all 0.2s ease; }
        .bio .get-in-touch a span .fa {
          margin-right: 6px; }
      .bio .get-in-touch a span::before {
        position: absolute;
        top: 120%;
        left: 0;
        width: 100%;
        text-align: center;
        content: attr(data-hover);
        font-weight: 700;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0); }
      .bio .get-in-touch a:hover span {
        color: white;
        transform: translateY(-120%);
        transition: all 0.2s ease; }

@media only screen and (max-width: 900px) {
  .bio .projects .project, .bio .projects .project:nth-of-type(even) {
    flex-direction: column; }
    .bio .projects .project img, .bio .projects .project:nth-of-type(even) img {
      max-width: 200px; }
    .bio .projects .project .description, .bio .projects .project:nth-of-type(even) .description {
      width: 100%;
      text-align: center;
      margin-top: 2rem; } }
@media only screen and (max-width: 680px) {
  .bio p img {
    max-width: 120px; }

  .show-more {
    font-size: -webkit-calc(16px + 1.5vw);
    font-size: -moz-calc(16px + 1.5vw);
    font-size: calc(16px + 1.5vw); }

  ul li .fa {
    font-size: -webkit-calc(16px + 2vw);
    font-size: -moz-calc(16px + 2vw);
    font-size: calc(16px + 2vw); } }
@media only screen and (max-width: 480px) {
  .inner-wrap header {
    width: 90%; }
    .inner-wrap header #logo {
      width: 80px; }

  .bio .about-me img {
    max-width: 100px; }
  .bio .about-me p {
    font-size: -webkit-calc(16px + 0.5vw);
    font-size: -moz-calc(16px + 0.5vw);
    font-size: calc(16px + 0.5vw); }
  .bio .about-me .fa-chevron-down {
    display: none; }
  .bio .projects .project {
    padding: 4rem 3rem; }
    .bio .projects .project .description p {
      font-size: -webkit-calc(16px + 0.25vw);
      font-size: -moz-calc(16px + 0.25vw);
      font-size: calc(16px + 0.25vw); } }
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

@-webkit-keyframes backgroundGradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@-moz-keyframes backgroundGradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@-o-keyframes backgroundGradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes backgroundGradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/*# sourceMappingURL=app.css.map */
